<html>

<head>
    <!-- Load the latest version of TensorFlow.js -->
    <script src="https://unpkg.com/@tensorflow/tfjs"></script>
    <script src="https://unpkg.com/@tensorflow-models/mobilenet"></script>
    <script src="https://unpkg.com/@tensorflow-models/knn-classifier"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Livewell powered with ai</title>

    <style>
        /* Define the styles for the Start Now button */
        .start-now-button {
            display: inline-block;
            background-color: orange;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 26px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 60px;
            margin-left: 150px;
           
        }
        .start-now-button:hover{
      font-size:36px;
      color:white;
      background-color: pink;
        }
        /* Define the styles for the parent container */
        .slogan-container {
            display: flex;
            flex-direction: column;
            align-items: left;
        }
    </style>
</head>

<body>
    <div class="buttons">
        <button id="class-a">Right Posture</button>
        <button id="class-b">Wrong Posture</button>
    </div>
    <img class="logo" src="logo.jpeg" alt="logo">
    <div class="center">
        <!-- Wrap the slogan and the button inside a parent container -->
        <div class="slogan-container">
            <div class="slogan"><pre>
            Better,

            Posture

            happy you.</pre>
            <button class="start-now-button">Start Now</button></div>
            
        </div>
        <div class="video-wrapper">
            <video autoplay playsinline muted id="webcam" width="224" height="224"></video>
        </div>
    
    </div>
    <h1>LiveWell- an Ai Powerd Tool</h1>
    <script src="index.js"></script>
</body>

</html>
